

* {
  margin: 0;
  padding: 0;
}

body{
  background: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  color: black;
}

.contenedor {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
}

.contenedor > div,
.contenedor .homeHeader,
.contenedor .sidebar-1,
.contenedor .homeContent,
.contenedor .sidebar-2 {
    background: white;
    padding: 10px;
    
}

.contenedor .homeHeader {
  background: #12203e;
  color: white;
  grid-column-start: 1;
  grid-column-end: -1;
}

.contenedor .homeContent {
  grid-column: span 3;
  background: #92bceb9f;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  
}

.contenedor .gridRight,
.contenedor .leftGrid {
  background: #ffffff;
  color: white;
} 

@media screen and (max-width: 768px) {
  .contenedor .homeContent {
      grid-column: 1 / -1;
      grid-row: 2 / -1;        
  }
 
 .leftGrid, .gridRight {
   display: none;
 }  
}
#logoImageHome{
  width: 50%;
  height: auto;
}

.homeButtons {
  background-color: rgb(194, 194, 194);
  font-family: 'Nunito', sans-serif;
  font-size: larger;
  color: rgb(2, 2, 2);
  padding: 2px 0px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}


   
  .post-container, .divTextArea {
    margin: 40px;
    padding: 14px 20px;
  }
 
  .post-div {
    padding: 14px 20px;
    background-color: rgb(101, 101, 114);
    border-radius: 4px;
  }
  .post-read {
    border: 1px solid rgb(255, 255, 255);
    background-color: #12203e;
    font-size: smaller;
    padding: 14px 40px;
    border-radius: 4px;
    
  }
   
  
  .post-edit {
    border: 1px solid rgb(101, 168, 101);
    background-color: rgb(133, 197, 133);
    padding: 14px 20px;
  }
  
  
  .username-div {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
    padding: 14px 20px;
  }
  
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  
  /* icons */ 
  .like-icon {
    color: black;
    cursor: pointer;
    padding: 14px 20px;
  }
  
  .like-icon-liked {
    color:red;
    cursor: pointer;
    padding: 14px 20px;
  }
  
