* {
  margin: 0;
  padding: 0;
} 
.imagesContainer {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
}

@media (max-width: 1200px) {
  .imagesContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 992px) {
  .imagesContainer {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 768px) {
  .imagesContainer {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 540px) {
  .imagesContainer {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

  body{
    font-family: 'Nunito', sans-serif;
    }
    
    /* Modal Login  */
    
    input[type=text], input[type=password], input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    } 
    #logoImageRegister{
      width: 100%;
      height: auto;
    }
    
   
    #registerP {
      margin: 8px 0;
      padding: 14px 20 px;
      font-family: 'Nunito', sans-serif;
      font-size: larger;
      color:#000;
    }
    .introButtons{
        background-color: rgb(23, 22, 126);
        font-family: 'Nunito', sans-serif;
        font-size: larger;
        color: rgb(255, 255, 255);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
     .introButtons:hover {
        opacity: 0.8; 
    } 
    
    
    #closeModalSignUp,
    #closeModalLogin{
        display: block;
        text-align: right;
        margin: 0px 0 10px 0;
        position: relative;
    } 
    
    
    #registerContainer{
      display: block; 
      position: fixed;
      z-index: 2;
      left: 28%;
      top: 5%;
      width: 40%;
      padding: 16px;
      background-color: #fefefedc;
      margin: 5% auto 15% auto;        
  } 
  .modal{
    display: block; 
    position: fixed;
    z-index: 2;
    left: 28%;
    top: 10%;
    width: 40%;
    height: 60%;
    padding: 16px;
    overflow: auto;
    background-color: #fefefedc;
    margin: 5% auto 15% auto;        
}
    h1{
      font-family: 'Nunito', sans-serif;
      text-align: center;
      color: rgb(23, 22, 126);
    }
    
    span.password{
        float: right;
        padding-top: 16px;  
    } 
    
     
    .close {
        position: absolute;
        right: 5px;
        top: -10px;
        color: #000;
        font-size: 35px;
        font-weight: bold; 
    } 
    
    
    .close:hover,
    .close:focus {
        color: blue;
        cursor: pointer;
    }

  /*   .registerSubmit {
      background-color: rgb(23, 22, 126);
      color: white;
      padding: 10px 10px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
 */
    @media screen and (max-width: 300px){
      span.password{
          display: block;
          float: none;
      }
  
  }