body{
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: flex-end;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    padding: 10px 0;
    background-color: #000;
    z-index: 1;
    color: #fefefe;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8vh;

}
#imagenFondo {
    width: 80%;
    height: 60%;
    padding: 70px 0 20px 0;
    
}

/* Modal Login  */

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.introButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(23, 22, 126);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.introButtons:hover {
    opacity: 0.8;
}
.imgContainer{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatarLogin{
    width: 40%;
    border-radius: 50%;
}
.loginContainer{
    padding: 16px;
}
span.password{
    float: right;
    padding-top: 16px;
}
/* Contenedor padre */
.modal{
    display: none; /*Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}
/*Contenido de modal*/
.loginContainer{
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 45%;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: blue;
    cursor: pointer;
}

@media screen and (max-width: 300px){
    span.password{
        display: block;
        float: none;
    }

}