@import "register.css";
@import "home.css";
/* page 404 */

#bodyPage404 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://nulllogic.net/wp-content/plugins/nullStorage/assets/404.gif) no-repeat center center fixed;
    background-size: cover;
    background-color: #000;
    padding:20px;
}


.page404 h1 {
    font-size: 90px;
    margin-bottom: 0;
    margin-top: 0;
    color:#fff;
}

.page404 h2 {
  color:#fff;
  font-size:44px;
}

.page404 p {
  color:#fff;
}

